<form class="form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
  <h1>Sign in</h1>
  <em *ngIf="requiredCheck(username)" class="form__errorMessage">
    Username is required
  </em>
  <em *ngIf="minLengthCheck(username)" class="form__errorMessage">
    Must be atleast 2 characters
  </em>
  <mat-form-field>
    <input matInput id="username" formControlName="username" type="text" placeholder="Username" />
  </mat-form-field>
  <em *ngIf="requiredCheck(password)" class="form__errorMessage">
    Password is required
  </em>
  <em *ngIf="minLengthCheck(password)" class="form__errorMessage">
    Must be atleast 2 characters
  </em>
  <mat-form-field>
    <input matInput id="password" formControlName="password" type="text" placeholder="Password" />
  </mat-form-field>
  <button mat-button class="form__submit" type="submit" [disabled]="!signinForm.valid">
    Signin
  </button>
</form>