/* .comment i {
  float: left;
  width: 2px;
} */

.like {
  float: left;
  padding: 25px 0;
  padding-left: 15px;
}

.comment .card-body {
  padding: 0.5rem;
  width: 200px;
  margin-left: 50px;
}

.card {
  display: block
}